body{
    /* color:white; */
    color:black;
}

.banner{
    height: 100vh;
    width: 100%;
    /* background:url('images/book.jpg'); */
    background-position: center;
    background-size:cover;
    /* background-attachment: fixed; */
    background-repeat: no-repeat;
}   

.banner .navbar{
    margin-top: 4%;
}

.banner .navbar-brand{
    color:black;
    font-size:1.8em;
    font-weight:700;
    margin-left:2.5%
}