<%- include ("partials/header") %>

<link rel="stylesheet" href="css/party.css">
<title>GaoAcademy</title>
</head>
<body>  

<div class="container-fluid banner">
    <%- include ("partials/navbar") %>

    <h1>asdf</h1>
   
    
</div>


<div class="card">
    <div class="imgBox">
        <div class="bark"></div>
        <img src="/images/sunny.jpg">
    </div>
    <div class="details">
        <h4 class="color1"></h2>
        <h4 class="color2 margin">(HAPPY BIRTHDAY!)</h3>
        <br>
        <br>
        <p>Hello Sunny!</p>
        <p>You are now six years old!</p>
        <p>Are you having fun today?</p>
        <p>I can't go to China</p>
        <p>to give you a present</p>
        <p>so I made this for you</p>
        <p>I hope you like it!</p>
        <br>
        <p class="text-right">.............From................     </p>
        <p class="text-right">.............Allan...............     </p>
    </div>
</div>
<canvas id="drawing_canvas"></canvas>

<script src="js/party.js"></script>
<%- include ("partials/footer") %>