<%- include ("partials/header") %>

<link rel="stylesheet" href="css/index.css">
<title>GaoAcademy</title>
</head>
<body>  

<div class="container-fluid banner">
    <%- include ("partials/navbar") %>

    <h1>asdf</h1>
    <div class="mt-5 temp">
        <a href="/birthday" class="btn btn-outline-danger btn-lg surprise">Sunny Click Me!</a>
    </div>


</div>



<%- include ("partials/footer") %>