<%- include ("partials/header") %>

<link rel="stylesheet" href="css/index.css">
<title>Lessons</title>
</head>
<body>  

<%- include ("partials/navbar") %>

<header class="container">
    <h1>Lessons</h1>
</header>

<main class="container">
    <div class="unit">
        <h3>Unit 1</h3>
        <ul>
            <li><a href="/lessons/alphabet">Alphabet</a></li>
            <li><a href="#">Numbers</a></li>
            <li><a href="#">Greetings 1</a></li>
        </ul>
    </div>
    <div class="unit">
        <h3>Unit 2</h3>
        <ul>
            <li><a href="#">Emotions</a></li>
            <li><a href="#">Colors</a></li>
            <li><a href="#">Animals 1</a></li>
        </ul>
    </div>
    <div class="unit">
        <h3>Unit 3</h3>
        <ul>
            <li><a href="#">Subject and Predicates</a></li>
            <li><a href="#">People</a></li>
            <li><a href="#">Greetings 2</a></li>
        </ul>
    </div>
</main>



<%- include ("partials/footer") %>