<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/6b3640cbb7.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/cards.css">
    <title>Basic Expressions</title>
</head>
<body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">GAOACADEMY</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/lessons">Lessons</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Vocab List</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Books</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Games</a>
                </li>
                <li>
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                      </form>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Register</a>
                </li>
            </ul>
        </div>
      </nav>


    <header class="container-fluid jumbotron mt-5">
        <h1 class="display-3">Basic Expressions</h1>
        <p>Hello! We will learn the most common and frequently used expressions in the English Language.
            Make sure to practice these words a lot! You will use these expressions all the time! 
        </p>
    </header>

    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mb-5">
                    <div class="card align-items-center">
                            <img src="/images/unit1/basicexpressions/hello.jpg" class="card-img-top" alt="girl waving hello to a computer screen">
                        <div class="card-body" >
                            <h5 class="card-title">Hello <a href="#" class="btn btn-outline-primary btn-sm"><i class="fas fa-volume-up"></i></a></h5>
                            <p class="card-text">"Hello! How are you? " <a href="#" class="btn btn-outline-primary btn-sm"><i class="fas fa-volume-up"></i></a></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mb-5">
                    <div class="card align-items-center">
                            <img src="/images/unit1/basicexpressions/goodbye.jpg" class="card-img-top" alt="girl waving hello to a computer screen">
                        <div class="card-body" >
                            <h5 class="card-title">Goodbye <a href="#" class="btn btn-outline-primary btn-sm"><i class="fas fa-volume-up"></i></a></h5>
                            <p class="card-text">"Goodbye! Have a nice day! " <a href="#" class="btn btn-outline-primary btn-sm"><i class="fas fa-volume-up"></i></a></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mb-5">
                    <div class="card align-items-center">
                            <img src="/images/unit1/basicexpressions/thankyou.jpg" class="card-img-top" alt="girl waving hello to a computer screen">
                        <div class="card-body" >
                            <h5 class="card-title">Thank you <a href="#" class="btn btn-outline-primary btn-sm"><i class="fas fa-volume-up"></i></a></h5>
                            <p class="card-text">"Thank you. I appreciate it! " <a href="#" class="btn btn-outline-primary btn-sm"><i class="fas fa-volume-up"></i></a></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mb-5">
                    <div class="card align-items-center">
                            <img src="/images/unit1/basicexpressions/sorry.jpg" class="card-img-top" alt="girl waving hello to a computer screen">
                        <div class="card-body" >
                            <h5 class="card-title">Sorry <a href="#" class="btn btn-outline-primary btn-sm"><i class="fas fa-volume-up"></i></a></h5>
                            <p class="card-text">"Sorry, can you help me? " <a href="#" class="btn btn-outline-primary btn-sm"><i class="fas fa-volume-up"></i></a></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mb-5">
                    <div class="card align-items-center">
                            <img src="/images/unit1/basicexpressions/yes.jpg" class="card-img-top" alt="girl waving hello to a computer screen">
                        <div class="card-body" >
                            <h5 class="card-title">Yes <a href="#" class="btn btn-outline-primary btn-sm"><i class="fas fa-volume-up"></i></a></h5>
                            <p class="card-text">"Yes, I like ice cream. " <a href="#" class="btn btn-outline-primary btn-sm"><i class="fas fa-volume-up"></i></a></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mb-5">
                    <div class="card align-items-center">
                            <img src="/images/unit1/basicexpressions/no.jpg" class="card-img-top" alt="girl waving hello to a computer screen">
                        <div class="card-body" >
                            <h5 class="card-title">No <a href="#" class="btn btn-outline-primary btn-sm"><i class="fas fa-volume-up"></i></a></h5>
                            <p class="card-text">"No. I do not want to sleep. " <a href="#" class="btn btn-outline-primary btn-sm"><i class="fas fa-volume-up"></i></a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>




<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>