<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/6b3640cbb7.js" crossorigin="anonymous"></script>
    <title>Number</title>
</head>
<body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">GAOACADEMY</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/lessons">Lessons</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Vocab List</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Books</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Games</a>
                </li>
                <li>
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                      </form>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Register</a>
                </li>
            </ul>
        </div>
      </nav>


    <header class="container-fluid jumbotron mt-5">
        <h1 class="display-3">Numbers</h1>
        <p>This lesson will teach you how to say the numbers from one to ten in English.
            Try to count some of the objects around you!
        </p>
    </header>

    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mb-5">
                    <div class="card align-items-center">
                            <h1>1</h1>
                        <div class="card-body" style="text-align: center;">
                            <h5 class="card-title">One <a href="#" class="btn btn-outline-primary btn-sm"><i class="fas fa-volume-up"></i></a></h5>
                            <p class="card-text">"Sunny has one toy car " <a href="#" class="btn btn-outline-primary btn-sm"><i class="fas fa-volume-up"></i></a></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mb-5">
                    <div class="card align-items-center">
                            <h1>2</h1>
                        <div class="card-body" style="text-align: center;">
                            <h5 class="card-title">Two <a href="#" class="btn btn-outline-primary btn-sm"><i class="fas fa-volume-up"></i></a></h5>
                            <p class="card-text">"Anna has two toys  " <a href="#" class="btn btn-outline-primary btn-sm"><i class="fas fa-volume-up"></i></a></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mb-5">
                    <div class="card align-items-center">
                            <h1>3</h1>
                        <div class="card-body" style="text-align: center;">
                            <h5 class="card-title">Three <a href="#" class="btn btn-outline-primary btn-sm"><i class="fas fa-volume-up"></i></a></h5>
                            <p class="card-text">"Dad eats three bananas " <a href="#" class="btn btn-outline-primary btn-sm"><i class="fas fa-volume-up"></i></a></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mb-5">
                    <div class="card align-items-center">
                            <h1>4</h1>
                        <div class="card-body" style="text-align: center;">
                            <h5 class="card-title">Four <a href="#" class="btn btn-outline-primary btn-sm"><i class="fas fa-volume-up"></i></a></h5>
                            <p class="card-text">"Mom buys four apples " <a href="#" class="btn btn-outline-primary btn-sm"><i class="fas fa-volume-up"></i></a></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mb-5">
                    <div class="card align-items-center">
                            <h1>5</h1>
                        <div class="card-body" style="text-align: center;">
                            <h5 class="card-title">Five <a href="#" class="btn btn-outline-primary btn-sm"><i class="fas fa-volume-up"></i></a></h5>
                            <p class="card-text">"Grandpa has five fish " <a href="#" class="btn btn-outline-primary btn-sm"><i class="fas fa-volume-up"></i></a></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mb-5">
                    <div class="card align-items-center">
                            <h1>6</h1>
                        <div class="card-body" style="text-align: center;">
                            <h5 class="card-title">Six <a href="#" class="btn btn-outline-primary btn-sm"><i class="fas fa-volume-up"></i></a></h5>
                            <p class="card-text">"Grandma reads six books " <a href="#" class="btn btn-outline-primary btn-sm"><i class="fas fa-volume-up"></i></a></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mb-5">
                    <div class="card align-items-center">
                            <h1>7</h1>
                        <div class="card-body" style="text-align: center;">
                            <h5 class="card-title">Seven <a href="#" class="btn btn-outline-primary btn-sm"><i class="fas fa-volume-up"></i></a></h5>
                            <p class="card-text">"I want seven dogs " <a href="#" class="btn btn-outline-primary btn-sm"><i class="fas fa-volume-up"></i></a></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mb-5">
                    <div class="card align-items-center">
                            <h1>8</h1>
                        <div class="card-body" style="text-align: center;">
                            <h5 class="card-title">Eight <a href="#" class="btn btn-outline-primary btn-sm"><i class="fas fa-volume-up"></i></a></h5>
                            <p class="card-text">"You see eight birds " <a href="#" class="btn btn-outline-primary btn-sm"><i class="fas fa-volume-up"></i></a></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mb-5">
                    <div class="card align-items-center">
                            <h1>9</h1>
                        <div class="card-body" style="text-align: center;">
                            <h5 class="card-title">Nine <a href="#" class="btn btn-outline-primary btn-sm"><i class="fas fa-volume-up"></i></a></h5>
                            <p class="card-text">"We have nine friends " <a href="#" class="btn btn-outline-primary btn-sm"><i class="fas fa-volume-up"></i></a></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mb-5">
                    <div class="card align-items-center">
                            <h1>10</h1>
                        <div class="card-body" style="text-align: center;">
                            <h5 class="card-title">Ten <a href="#" class="btn btn-outline-primary btn-sm"><i class="fas fa-volume-up"></i></a></h5>
                            <p class="card-text">"Allan eats ten pizzas " <a href="#" class="btn btn-outline-primary btn-sm"><i class="fas fa-volume-up"></i></a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>





    
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>